root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #dfecf1;
    font-size: medium;
}

a {
    color: #9494b8;
    text-decoration: none;
}

.richButton {
    background-color: #90b4bd;
    border: 2px solid #709da9;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    
}
.richButton:hover:enabled {
    background-color: #b2d5d6;
    border: 2px solid #9bc9ca;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    
}
.x-richButton {
    background-color: #90b4bd;
    border: 2px solid #709da9;
    border-radius: 2px;
    width: 150px;
    height: 30px;
}

.x-richButton:hover:enabled {
    background-color: #b2d5d6;
    border: 2px solid #9bc9ca;
    border-radius: 2px;
    width: 150px;
    height: 30px;
}

table {
    empty-cells: show;
}

input[type=text].create {
  border: 2px solid #90b4bd;
  border-radius: 2px;
  width: 525px;
  height: 25px;
}

input[type=text].rd {
  border: 2px solid #90b4bd;
  border-radius: 2px;
  width: 220px;
  height: 25px;
}

select {
  border: 2px solid #90b4bd;
  border-radius: 2px;
  width: 215px;
  height: 25px; 
}
input[type=text] {
  border: 2px solid #90b4bd;
  border-radius: 2px;
  width: 240px;
  height: 25px;
}

textarea {
  width: 535px;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #90b4bd;
  border-radius: 2px;
  resize: vertical;
}

form.jsfcrud_list_form th, td th {
    font-size: medium;
    color: #4e6a71;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: #b2d5d6;
}

td {
    vertical-align: top;
    padding-bottom: 10px;
    font-size: medium;
}

form.jsfcrud_list_form td, td td {
    font-size: medium;
    text-align: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #b2d5d6;
    border-right-color: #b2d5d6;
    vertical-align: baseline;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}